<section id='content'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='span12'>
       <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
          <div class='span5' style='margin-left:0;'>
            <div class='account-card'>
              <div class='user-info'>
                <div class='avatar'>
                  <div class="profile-image <%= current_user.role %>">
                    <img class='image-card' src="<%= gravatar_for current_user %>">
                  </div>
                </div>
                <div class='member-info'>
                  <h1><%= current_user.full_name %></h1>
                  <div class='email'><%= current_user.email %></div>
                </div>
              </div>
              <div class='profile-footer'>
                <ul class="nav nav-pills">
                  <li class="tab-account active">
                    <a href="#" data-target-class="account">Account</a>
                  </li>
                  <li class="tab-profile">
                    <a href="#" data-target-class="profile">Profile</a>
                  </li>
                  <li class="tab-social">
                    <a href="#" data-target-class="social">Social</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class='sidebar-section'>
              <header>
                <%= content_tag(:h2, ('Startups Owned by Me' unless @user.startups.empty?)) %>
              </header>
              <div class='startup-list'>
                <ul>
                  <% @user.startups.each do |startup| %>
                    <li>
                      <a href="<%= edit_startup_path(startup).html_safe %>">
                        <%= image_tag(startup.image_url(:thumb), class: "startuplogo") %>
                        <%= content_tag(:span, startup.name, class: 'truncate') %>
                        <%= content_tag(:i, '', class: 'icon-eye') %>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class='span7'>
            <div class="tab-content">
              <div class="tab-pane active account">
                <h2 class='section-name'>Account</h2>
                <h4 class='section-sub-name'>Change your basic account.</h4>
                <div>
                  <%= f.label :username %>
                  <%= f.text_field :username %>
                </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                <div>
                  <%= f.label :email %>
                  <%= f.email_field :email %>
                </div>
                <div>
                  <%= f.label :password %>
                  <i class='user-note'>(leave blank if you don't want to change it)</i><br>
                  <%= f.password_field :password, :autocomplete => "off" %>
                </div>
                <div>
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation %>
                </div>
              </div>
              <div class="tab-pane profile">
                <h2 class='section-name'>Profile</h2>
                <h4 class='section-sub-name'>This information appears on your public profile and beyond.</h4>
                <div>
                  <%= f.label :role %>
                  <%= f.select :role, User.roles, :prompt => true %>
                </div>
                <div>
                  <%= f.label :full_name %>
                  <%= f.text_field :full_name %>
                </div>
                 <div>
                  <%= f.label :bio %>
                  <%= f.text_area :bio, :maxlength => 120, :style => 'height:120px;resize:none;width:420px;' %>
                </div>
                <div>
                  <%= f.check_box :available_for_hire, :style => "float:left;" %>
                  <%= f.label :available_for_hire, "Available for hire?".html_safe, :style => "float:left; margin-left: 10px;" %>
                </div>
              </div>
              <div class="tab-pane social">
                <h2 class='section-name'>Social Profiles</h2>
                <h4 class='section-sub-name'>Connect the links of your online portfolios.</h4>
                <div>
                  <%= f.label :github_username %>
                  <%= f.text_field :github_username %>
                </div>

                <div>
                  <%= f.label :dribbble_username %>
                  <%= f.text_field :dribbble_username %>
                </div>

                <div>
                  <%= f.label :linkedin_username %>
                  <%= f.text_field :linkedin_username %>
                </div>

                <div>
                  <%= f.label :flickr_username %>
                  <%= f.text_field :flickr_username %>
                </div>

                <div>
                  <%= f.label :facebook_username %>
                  <%= f.text_field :facebook_username %>
                </div>

                <div>
                  <%= f.label :twitter_username %>
                  <%= f.text_field :twitter_username %>
                </div>

                <div>
                  <%= f.label :website_url %>
                  <%= f.url_field :website_url %>
                </div>
              </div>
            </div>
            <div><%= f.submit "Save", :class => 'button primary-button button-save', :style => 'width:120px;' %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
