<%= form_for @startup, :html => {:multipart => true} do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :max_length => 40 %>
  </div>
  <div>
    <%= f.label 'Logo' %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :pitch %>
    <%= f.text_field :pitch, :max_length => 100 %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.url_field :website %>
  </div>
  <div class="field">
    <%= f.label :product %>
    <%= f.text_area :product %>
  </div>
  <div class="field">
    <%= f.label :markets %>
    <%= f.text_field :market_list, "data-pre" => @startup.markets.map(&:attributes).to_json %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
