<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1>Startups</h1>
        <h2>A collection of internet companies made with <i class='icon-heart-3 loved'></i> in PR</h2>
      </div>
    </div>
  </div>
</section>

<% @startups.each do |startup| %>
  <section id='content'>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span6 startupscard'>
          <div class='startupimage'>
            <%= image_tag(startup.image_url(:thumb), :class => "startup-image") %>
          </div>
          <div class='startupinfo'>
            <h1><%= startup.name %></h1>
            <h2><%= startup.pitch %></h2>
            <h3><%= startup.markets %></h3>
            <h6><%= startup.website %></h6>
          </div>
          <div class='startupabout'>
            <p><%= startup.product %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
