<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1>Startups</h1>
        <h2>A collection of internet companies made with <i class='icon-heart-3 loved'></i> in PR</h2>
      </div>
    </div>
  </div>
</section>

<% @startups.each do |startup| %>
  <section id='content'>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span3 usercard'>
          <div class='userimage'>
            <%= image_tag(startup.image_url(:thumb), :class => "user-image") %>
          </div>
          <div class='userinfo'>
            <h1><%= startup.name %></h1>
            <h3><%= startup.markets %></h3>
          </div>
          <div class='userabout'>
            <p><%= startup.pitch %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>


<%= link_to 'New Startup', new_startup_path %>
