<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @startup.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @startup.image_url(:thumb).to_s %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @startup.pitch %>
</p>

<p>
  <strong>Website:</strong>
  <%= @startup.website %>
</p>

<p>
  <strong>Product:</strong>
  <%= @startup.product %>
</p>

<p>
  <strong>Markets:</strong>
  <%= @startup.markets %>
</p>


<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
