<div class='span3 usercard'>
  <div class='userimage'>
    <%= image_tag gravatar_for(user), class: "user-image imagecard #{user.role}" %>
  </div>
  <div class='userinfo'>
    <%= content_tag(:h1, user.full_name, title: user.full_name) %>
    <%= content_tag(:h3, user.role.titlecase) %>
    <%= content_tag(:p, "Available for Hire: #{user.available_for_hire ? 'Yes' : 'No' }") %>
  </div>
  <div class='userabout'>
    <%= content_tag(:p, user.bio) %>
  </div>
  <div class='usersocial'>
    <%= social_icon_links(user) %>
  </div>
</div>
