<div class='span4 usercard'>
  <% if user.available_for_hire %>
    <%= content_tag(:div, '', class: 'ribbon-wrapper') do %>
      <%= content_tag(:div, '', class: 'ribbon-wrapper-green') do %>
        <%= content_tag(:p, 'Hire Me') %>
      <% end %>
    <% end %>
  <% end  %>

  <div class="userimage <%= user.role %>">
    <%= image_tag gravatar_for(user), class: "user-image imagecard" %>
  </div>
  <div class='userinfo'>
    <%= content_tag(:h1, user.full_name, title: user.full_name) %>
    <%= content_tag(:h3, user.role.titlecase) %>
  </div>
  <div class='userabout'>
    <%= content_tag(:p, user.bio) %>
  </div>
  <div class='usersocial'>
    <%= social_icon_links(user) %>
  </div>
</div>
