<div id='content'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='login-wrapper'>
        <div class='info-cards' style='padding:0;'>
          <div class='login-wrapper-title'>
            <h2>Change your password</h2>
          </div>
          <div class='login-form-wrapper'>
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>
              <div>
                <%= f.label :password, "New password", :class => 'form-label-login' %>
                <%= f.password_field :password, :autofocus => true %>
              </div>
              <div>
                <%= f.label :password_confirmation, "Confirm new password",  :class => 'form-label-login' %>
                <%= f.password_field :password_confirmation, :autofocus => true  %>
              </div>
              <div class='form-login-action'>
                 <%= f.submit "Change my password", :class => 'main-btn blue-btn btn-medium' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class='shared-links-wrapper'>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
