<div class="navbar navbar-static-top">
  <div class="site-nav">
    <div class="container-fluid container-padding">
      <div class='logo'>
        <%= link_to '/' do %>
         <h1>Startup of Puerto Rico</h1>
        <% end %>
      </div>
      <nav class='nav-menu'>
        <div id='menu'>
          <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'People', users_path %></li>
            <li><%= link_to 'Startups', startups_path %></li>
            <li><%= link_to 'Events', events_path %></li>
            <li style='padding: 0 25px 0 15px;'><%= link_to 'Communities', groups_path %></li>
            <li><%= link_to 'Resources', resources_path %></li>
          </ul>
        </div>
        <div class='mobile-menu'>
          <li class='dropdown mobile-menu-dropdown'>
            <a href="#" class='dropdown-toggle' data-toggle='dropdown'>
              Menu <i class='icon-chevron-down'></i>
            </a>
            <ul class='dropdown-menu' style='margin-top:20px;'>
              <li><%= link_to 'About', about_path %></li>
              <li class="separator"></li>
              <li><%= link_to 'People', users_path %></li>
              <li class="separator"></li>
              <li><%= link_to 'Startups', startups_path %></li>
              <li class="separator"></li>
              <li><%= link_to 'Events', events_path %></li>
              <li class="separator"></li>
              <li><%= link_to 'Communities', groups_path %></li>
              <li class="separator"></li>
              <li><%= link_to 'Resources', resources_path %></li>
            </ul>
          </li>
        </div>
      </nav>
      <div class='authentication'>
        <ul>
          <% if current_user %>
          <li class="dropdown last">
            <a class="dropdown-toggle nav-link" id="dLabel" data-toggle="dropdown" href="#" style='padding:16px 15px;margin: 4px 0;'>
              <img class='user-image' src="<%= gravatar_for current_user %>">
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style='margin-top:73px;'>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li class="separator"></li>
              <% current_user.startups.each do |startup| %>
              <li><%= link_to startup.name, edit_startup_path(startup) %></li>
              <% end %>
              <li><%= link_to "Create Startup Profile", new_startup_path %></li>
              <li class="separator"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
          <% else %>
          <li class="last"><%= link_to "Sign in", new_user_session_path, class: 'nav-link main-btn' %></li>
          <% end %>
        </ul>
      </div>     
    </div>
  </div>
</div>