<%= render partial: "shared/flash_messages", flash: flash %>
<section style='background: #F5F5F5;margin-bottom: 0px;padding: 5px 0 3px;color: white;'>
  <a href="/status" style='text-decoration:none;'>
    <div style='width: 204px;background: #4cd964;height: 48px;position: absolute;top: 0;margin-left: 50px;'></div>
    <div class='container-fluid container-padding'>
      <div class="row-fluid">
          <h6 style='font-size:13.9px;text-align: left;text-transform: uppercase;font-weight: 600;position:relative;'>
            <font color='white'>Startups of Puerto Rico</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2013 Year In Review &nbsp;&nbsp;&nbsp; »»
          </h6>
      </div>
    </div>
  </a>
</section>
<section id='sopr-home-image' class='sopr-image-home'>
  <div class='sopr-home-opacity'></div>
  <div class="navbar navbar-static-top">
    <div class="site-nav">
      <div class="container-fluid container-padding">
        <div class='logo'>
          <%= link_to '/' do %>
           <h1>Startup of Puerto Rico</h1>
          <% end %>
        </div>
        <nav class='nav-menu'>
          <div id='menu'>
            <ul>
              <li><%= link_to 'About Us', about_path %></li>
              <li><%= link_to 'People', users_path %></li>
              <li><%= link_to 'Startups', startups_path %></li>
              <li><%= link_to 'Events', events_path %></li>
              <li style='padding: 0 25px 0 15px;'><%= link_to 'Communities', groups_path %></li>
              <li><%= link_to 'Resources', resources_path %></li>
            </ul>
          </div>
          <div class='mobile-menu'>
            <li class='dropdown mobile-menu-dropdown'>
              <a href="#" class='dropdown-toggle' data-toggle='dropdown' style='color:white;'>
                Menu <i class='icon-chevron-down icon-white'></i>
              </a>
              <ul class='dropdown-menu' style='margin-top:20px;'>
                <li><%= link_to 'About', about_path %></li>
                <li class="separator"></li>
                <li><%= link_to 'People', users_path %></li>
                <li class="separator"></li>
                <li><%= link_to 'Startups', startups_path %></li>
                <li class="separator"></li>
                <li><%= link_to 'Events', events_path %></li>
                <li class="separator"></li>
                <li><%= link_to 'Communities', groups_path %></li>
                <li class="separator"></li>
                <li><%= link_to 'Resources', resources_path %></li>
              </ul>
            </li>
          </div>
        </nav>
        <div class='authentication'>
          <ul>
            <% if current_user %>
            <li class="dropdown last">
              <a class="dropdown-toggle nav-link" id="dLabel" data-toggle="dropdown" href="#" style='padding:16px 15px;margin: 4px 0;'>
                <img class='user-image' src="<%= gravatar_for current_user %>">
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style='margin-top:73px;'>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li class="separator"></li>
                <% current_user.startups.each do |startup| %>
                <li><%= link_to startup.name, edit_startup_path(startup) %></li>
                <% end %>
                <li><%= link_to "Create Startup Profile", new_startup_path %></li>
                <li class="separator"></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
            <% else %>
            <li class="last"><%= link_to "Sign in", new_user_session_path, class: 'nav-link main-btn' %></li>
            <% end %>
          </ul>
        </div>     
      </div>
    </div>
  </div>
  <div class='container-fluid container-padding'>
    <div class='row-fluid'>
      <div class='span12'>
        <div class='span4'>
          <h2 class='sopr-home-tile'>Get Connected to the Startup Community!</h2>
          <div><%= link_to "Get Started", new_registration_path(resource_name), class: 'nav-link main-home-btn main-btn' %></div>
          <p class='sopr-home-subtitle'><a class="scroll" data-speed="700" href="#bazinga">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- learn more tabs -->
<section id='learn-more'>
  <div class='container-fluid container-padding'>
    <div class='row-fluid section-padding tabbable'>
      <div class='span5 hidden-phone'>
        <h3 id='bazinga' class='learn-more-title'>You’ll get the latest news on</h3>
        <ul class="learn-more-steps nav nav-tabs nav-stacked">
          <li class='active'><a href="#event-tab" data-toggle="tab">Tech Events</a></li>
          <li><a href="#resource-tab" data-toggle="tab">Tech Resources</a></li>
          <li><a href="#talent-tab" data-toggle="tab">Puerto Rico Creative Talent</a></li>
          <li><a href="#group-tab" data-toggle="tab">Tech Communities</a></li>
        </ul>
      </div>
      <div class="span7 tab-content no-tab hidden-phone" style='overflow:hidden;'>
        <div class="tab-pane active"  id="event-tab">
          <%= image_tag "events-tab-image.png" %>
        </div>
        <div class="tab-pane fade" id="resource-tab">
          <%= image_tag "resources-tab-image.png" %>
        </div>
        <div class="tab-pane fade" id="talent-tab">
          <%= image_tag "talent-tab-image.png" %>
        </div>
        <div class="tab-pane fade" id="group-tab">
          <%= image_tag "groups-tab-image.png" %>
        </div>
      </div><!-- tablet and web view -->
      <div class="span7 no-tab visible-phone" style='overflow:hidden;'>
        <div>
          <h3 class='learn-more-title learn-more-mobile'>Get the Latest Tech Events</h3>
          <%= image_tag "events-tab-image.png" %>
        </div>
        <div>
          <h3 class='learn-more-title learn-more-mobile'>Get & Share Tech Resources</h3>
          <%= image_tag "resources-tab-image.png" %>
        </div>
        <div>
          <h3 class='learn-more-title learn-more-mobile'>Puerto Rico Creative Talent</h3>
          <%= image_tag "talent-tab-image.png" %>
        </div>
        <div>
          <h3 class='learn-more-title learn-more-mobile'>Join Tech Communities</h3>
          <%= image_tag "groups-tab-image.png" %>
        </div>
      </div><!-- mobile view -->
    </div>
  </div>
</section>