<%= form_for @event, :html => {:multipart => true} do |f|%>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :where %><br>
    <%= f.text_field :where %>
  </div>
  <div class="field">
    <%= f.datetime_select :start_time, ampm: true, order: [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag(@event.image_url(:eventphoto) ) %>
    <%= f.file_field :image, :class => 'form-photo' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
