<% content_for :subheader do %>
<section id="subheader">
  <div class="container">
    <div class='row-fluid'>
      <div class='span12'>
        <h1 class='subheader-title'>A collection of Startup Events in Puerto Rico</h1>
      </div>
    </div>
  </div>
</section>
<% end %>
<section id='events'>
  <div class='container'>
    <div class='row-fluid'>
     <div class='span3'>
      <h3 class='months'>Events by Month</h3>
      <ul class='months-list'>
        <li class='months-list-title'></li>
      </ul>
     </div>
     <div class='span9'></div>
    </div>
  </div>
</section>





<% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.where %></td>
          <td><%= event.start_time %></td>
          <td><%= event.url %></td>
          <td><%= image_tag event.image_url(:eventphoto) %></td>
          <td><%= event.user %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>


<br>

<%= link_to 'New Event', new_event_path %>
