
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.where %></td>
        <td><%= event.start_time %></td>
        <td><%= event.url %></td>
        <td><%= event.image %></td>
        <td><%= event.user %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


<br>

<%= link_to 'New Event', new_event_path %>
