

<div id='content'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='login-wrapper'>
        <div class='info-cards' style='padding:0;'>
          <div class='login-wrapper-title'>
            <h2>Login</h2>
          </div>
          <div class='login-form-wrapper'>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div>
                <%= f.label :email, :class => 'form-label-login' %>
                <%= f.text_field :login, :autofocus => true %>
              </div>
              <div>
                <%= f.label :password, :class => 'form-label-login' %>
                <%= f.password_field :password %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div><%= f.check_box :remember_me, :class => 'remenber-me-input' %> <%= f.label :remember_me, :class => 'remenber-me' %></div>
              <% end -%>
              <div class='form-login-action'>
                <%= f.submit "Sign in", :class => 'main-btn btn-medium' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class='shared-links-wrapper'>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
