<!DOCTYPE html>
<html>
<head>
  <meta property="og:title" content="Startups of Puerto Rico"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://startupsofpuertorico.com"/>
  <meta property="og:image" content="<%= asset_path('logo-share.png') %>"/>
  <meta property="og:site_name" content="Startups of Puerto Rico"/>
  <meta property="fb:admins" content="501641940,502082211"/>
  <meta property="og:locale" content="en_US"/>
  <title>Startups of Puerto Rico</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag "favicon.ico" %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
</head>
<body class="<%= body_class %>">

  <%= render "shared/header" %>

  <%= yield :subheader %>

  <%= render partial: "shared/flash_messages", flash: flash %>

  <%= yield %>

  <%= render "shared/footer" %>

  <%= javascript_include_tag "application" %>

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27812521-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
