<!DOCTYPE html>
<html>
<head>
  <title>Startups of Puerto Rico</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'shared/header' %>

<%= render 'shared/notifications' %>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
